<div class="projection" ng-show="showProjection">
    <div class="projection-closer" ng-click="showProjection=false"><img src="assets/css/images/poptrox-closer.svg"/></div>
    <div class="projection-prev" ng-click="moveImageProjection(false)"><img src="assets/css/images/arrow-small.svg"/></div>
    <div class="projection-next" ng-click="moveImageProjection(true)"><img src="assets/css/images/arrow-small.svg"/></div>
    <div class="projection-container">
    </div>
</div>

<div ng-repeat="category in categories track by $index">
    <br>
    <header>
        <h3>{{ category }}</h3>
    </header>
    <div class="row 0% images">
        <div class="2u 4u(mobile)" ng-repeat="image in photoLibrary[category].images track by $index">
            <div ng-click="startProjection($parent.$index, $index)" class="image fit">
                <img src="{{ photoLibrary[category].thumbnails[$index] }}" alt="" />
            </div>
        </div>
    </div>
</div>
